@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

$brand-hue:   26;
$brand-color: 'orange';
// $link-color: 'yellow';
$brand-colors: (
  brand: $brand-color,
  // link: $link-color
) !default;


// Load the Badger CSS styles
// See https://abw.github.io/badger-css/
@import '@abw/badger-css/styles/badger.scss';

// Load the night-and-day switcher styles
// See https://abw.github.io/react-night-and-day/
@import '@abw/react-night-and-day/styles/night-and-day.css';

// Load the additional badger-icon styles
@import '../../styles/badger-icon.scss';

// Load the site-specific styles
@import "config/all.scss";
@import "modules/all.scss";

.bi-logo {
  --badger: var(--brand-30);
  --icon: var(--brand-50);
  .white {
    fill:white;
  }
  .black {
    fill: black
  }
  .badger {
    fill: var(--badger);
  }
  .icon {
    fill: var(--icon);
  }
}

#{$dark-theme} {
  color-scheme: dark;
  .bi-logo {
    --badger: var(--brand-40);
    --icon: var(--brand-60);
  }
}

// Moving up to badger-css
svg {
  &.fill-fg {
    fill: var(--color);
  }
  &.fill-bg {
    fill: var(--background-color);
  }
  &.stroke-fg {
    stroke: var(--color);
  }
  &.stroke-bg {
    stroke: var(--background-color);
  }
}