@charset "utf-8";

$brand-hue:   26;
$brand-color: 'orange';

@import "@abw/badger-website/styles/badger-website.scss";

// Load the site-specific styles
// @import "config/all.scss";
// @import "modules/all.scss";

.bi-logo {
  --badger: var(--brand-30);
  --icon: var(--brand-50);
  .white {
    fill:white;
  }
  .black {
    fill: black
  }
  .badger {
    fill: var(--badger);
  }
  .icon {
    fill: var(--icon);
  }
}

#{$dark-theme} {
  color-scheme: dark;
  .bi-logo {
    --badger: var(--brand-40);
    --icon: var(--brand-60);
  }
}

// Moving up to badger-css
svg {
  &.fill-fg {
    fill: var(--color);
  }
  &.fill-bg {
    fill: var(--background-color);
  }
  &.stroke-fg {
    stroke: var(--color);
  }
  &.stroke-bg {
    stroke: var(--background-color);
  }
}

.flow p + p {
  margin-block-start: 1em;
}

.hover:hover {
  cursor: pointer;
}
