svg.icon.draw {
  --draw-length: 600;
  --draw-time: 0.5s;
  stroke-dasharray: var(--draw-length);
  stroke-dashoffset: var(--draw-length);
  animation: draw var(--draw-time) linear forwards;
}
svg.icon.fill-in {
  --fill-time: 0.5s;
  fill-opacity: 0;
  animation: fill-in var(--fill-time) linear forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill-in {
  to {
    fill-opacity: 1;
  }
}

.icons {
  display: inline-grid;
  overflow: visible;
  box-sizing: content-box;
  height: 1em;
  font-size: 1em;
  line-height: 1;
  vertical-align: -0.125em;
  text-align: center;
}
.icons > * {
  grid-area: 1/1;
}

.flex.baseline svg.icon {
  position: relative;
  top: 0.125em;
}
